
__pycache__/extensions.cpython-39.pyc
__pycache__/models.cpython-39.pyc
__pycache__/routes.cpython-39.pyc
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Kahoot-ruhat-Gr.3-.iml
.idea/vcs.xml
.vscode/launch.json
__pycache__/__init__.cpython-310.pyc
__pycache__/extensions.cpython-310.pyc
__pycache__/models.cpython-310.pyc
__pycache__/routes.cpython-310.pyc
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3.xml
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat.len
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat.values
*.at
*.dat_i
*.s
*.len
*.meta
*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Kahoot-ruhat-Gr.3-.iml
.idea/vcs.xml
.vscode/launch.json
__pycache__/__init__.cpython-310.pyc
__pycache__/extensions.cpython-310.pyc
__pycache__/models.cpython-310.pyc
__pycache__/routes.cpython-310.pyc
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3.xml
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat.len
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat.values
*.at
*.dat_i
*.s
*.len
*.meta
*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Kahoot-ruhat-Gr.3-.iml
.idea/vcs.xml
.vscode/launch.json
__pycache__/__init__.cpython-310.pyc
__pycache__/extensions.cpython-310.pyc
__pycache__/models.cpython-310.pyc
__pycache__/routes.cpython-310.pyc
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3.xml
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat.len
.idea/dataSources/ef407783-e4fc-42a8-941f-708a6c0f1ba3/entities/entities.dat.values
*.at
*.dat_i
*.s
*.len
*.meta
*.pyc
*.pyc
*.pyc
__pycache__/models.cpython-310.pyc
__pycache__/routes.cpython-310.pyc
__pycache__/extensions.cpython-310.pyc
