<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruhat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7e15f56592.js" crossorigin="anonymous"></script>
    <title>Ruhat</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="container {{ mode }}">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="{{ url_for('auth.register',mode='sign-in-mode') }}" class="sign-in-form" method="POST">
                {% with messages = get_flashed_messages(category_filter=["login_err"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h2 class="title plain-text">Sign in</h2>
                <div class="input-field">
                    <em class="fas fa-envelope"></em>
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-field">
                    <em class="fas fa-lock"></em>
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <input type="submit" value="login" class="btn solid">
                <p class="social-text plain-text">Or sign in using social platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <em class="fab fa-facebook-f"></em>
                    </a>
                    <a href="#" class="social-icon">
                        <em class="fab fa-twitter"></em>
                    </a>
                    <a href="#" class="social-icon">
                        <em class="fab fa-google"></em>
                    </a>
                    <a href="#" class="social-icon">
                        <em class="fab fa-linkedin-in"></em>
                    </a>
                </div>
            </form>

            <form action="{{ url_for('auth.register',mode='sign-up-mode') }}" class="sign-up-form" method="POST">
                {% with messages = get_flashed_messages(category_filter=["reg_err"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h2 class="title plain-text">Sign up</h2>
                <div class="input-field">
                    <em class="fas fa-user"></em>
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="input-field">
                    <em class="fas fa-envelope"></em>
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-field">
                    <em class="fas fa-lock"></em>
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <input type="submit" value="Sign up" class="btn solid">
                <p class="social-text plain-text">Or sign up using social platforms</p>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content plain-text">
                <h3>New here?</h3>
                <p>Create a new account and start proposing quizzes and polls!</p>
                <button class="btn transparent" id="sign-up-btn">Sign up</button>
            </div>
            <img src="../static/img/makerLaunchPhoto.svg" class="panel-image" alt="wait, please">
        </div>
        <div class="panel right-panel plain-text">
            <div class="content">
                <h3>Already have an account?</h3>
                <p>Log in to your existing account and create more quizzes and polls!</p>
                <button class="btn transparent" id="sign-in-btn">Sign in</button>
            </div>
            <img src="../static/img/pressPlayPhoto.svg" class="panel-image" alt="wait, please">
        </div>
    </div>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>