<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/questionPage.css">
    <title>Ruhat</title>
</head>
<body>
    <div class="question_page">
        <div class="up_item">
            <p class="question">{{question.question}}</p>
        </div>
        <div>
            <form class="down_item" action="{{url_for('quiz', id_quiz=id_quiz)}}" method="POST">
            {% for i in range(4) %}

            <button type="submit" class="item {{['ul','ur','dl','dr'][i]}}" name="{{i}}">
                {{question.options[i]}}
            </button>


            {% endfor%}
                </form>
<!--            <button type="button" class="item ur">-->
<!--                This is option 2. No, it is option 2.-->
<!--            </button>-->
<!--            <button type="button" class="item dl">-->
<!--                This is option 3. Probably, it is option 3.-->
<!--            </button>-->
<!--            <button type="button" class="item dr">-->
<!--                This is option 4. It is both option 4.-->
<!--            </button>-->
        </div>
    </div>
</body>
</html>