<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruhat</title>
    <script src="https://kit.fontawesome.com/7e15f56592.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/startingPage.css">
</head>
<body>
    <div class="container">
        <div class="welcome-place">
            <div class="get-started">
                <h1 class="main-title plain-text">
                    Ruhat!
                </h1>
                <form action="{{url_for('home')}}" class="get-started-form" method="POST">
                    <div class="input-field">
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="pin code" name="pincode">
                    </div>
                    <input type="submit" value="enter" class="btn solid" name="enter">
                </form>
            </div>
            <div class="sign-up-instead">
                <p>
                    <span class="plain-text">Or you can create your own quiz by </span><a href="{{ url_for('register',mode="sign-in-mode") }}" class="sign-up-link">signing in</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>