<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7e15f56592.js" crossorigin="anonymous"></script>
    <title>Ruhat</title>
    <link rel="stylesheet" href="../static/css/workingspace.css">
</head>
<body>
    <div class="nav-bar-container">
        <a href="#" class="main-title">
            Ruhat!
        </a>
        <div class="profile-container">
            <div class="profile-icon" data-initials="AA"></div>
            <ul name="settings" class="dropdown-menu">
                <a href="#">
                    <li class="drop-down-item">
                        change password
                    </li>
                </a>
                <a href="#">
                    <li class="drop-down-item">
                        delete account
                    </li>
                </a>
                <a href="#">
                    <li class="drop-down-item">
                        logout
                    </li>
                </a>
            </ul>
        </div>
        <div class="dropdown-bg"></div>
    </div>
    <div class="home-container">
        <div class="left-side">
            <h3 class="plain-text">Previous quizzes:</h3>
            
            <div class="previous-quiz  quiz-1">
                <div>
                    <a href="#">ITP quiz</a>
                </div>
                <div class="icons-container">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    <button class="delete-quiz icon" onclick="delete_quiz()">
                        <i class="fa fa-trash "></i>
                    </button>
                </div>
            </div>
            <div class="previous-quiz">
                <div>
                    <a href="#">ITP quiz</a>
                </div>
                <div class="icons-container">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                      </label>
                    <button class="delete-quiz icon">
                        <i class="fa fa-trash "></i>
                    </button>
                </div>
            </div>
            <div class="previous-quiz">
                <div>
                    <a href="#">DSA quiz</a>
                </div>
                <div class="icons-container">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    <button class="delete-quiz icon">
                        <i class="fa fa-trash "></i>
                    </button>
                </div>
            </div>
            <div class="previous-quiz">
                <div>
                    <a href="#">MA-II quiz</a>
                </div>
                <div class="icons-container">
                    <label class="switch" >
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    <button class="delete-quiz icon">
                        <i class="fa fa-trash "></i>
                    </button>
                </div>
            </div>
            <div class="previous-quiz">
                <div>
                    <a href="#">CA quiz</a>
                </div>
                <div class="icons-container">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                    <button class="delete-quiz icon">
                        <i class="fa fa-trash "></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-side">
            <h2>ITP Quiz:</h2>
            <ul class="questions-list">
                <li class="question-1">
                    What is the capital of Russia
                    <a href="#" class="icon delete-question ">
                        <i class="fa fa-trash"></i> 
                    </a>
                </li>
                <li class="question-1">
                    What is the capital of Russia
                    <a href="#" class="icon delete-question ">
                        <i class="fa fa-trash"></i> 
                    </a>
                </li>
                <li class="question-1">
                    What is the capital of Russia
                    <a href="#" class="icon delete-question ">
                        <i class="fa fa-trash"></i> 
                    </a>
                </li>
                <li class="question-1">
                    What is the capital of Russia
                    <a href="#" class="icon delete-question ">
                        <i class="fa fa-trash"></i> 
                    </a>
                </li>
                <li class="question-1">
                    What is the capital of Russia
                    <a href="#" class="icon delete-question ">
                        <i class="fa fa-trash"></i> 
                    </a>
                </li>
                <li class="question-1">
                    What is the capital of Russia
                    <a href="#" class="icon delete-question ">
                        <i class="fa fa-trash"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="../static/js/workspace.js"></script>
</body>
</html>