<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7e15f56592.js" crossorigin="anonymous">

    </script>
    <title>Ruhat</title>
    <link rel="stylesheet" href="../static/css/workingspace.css">
</head>
<body>
    <div class="prompt">
        <form class="prompt__form" method="POST">
            <p class="prompt__text"><p>
            <div class="input-field question-holder">
                <input type="text" name="quiz_name" class="prompt__input" placeholder="Enter your quiz name"/>
            </div>
            <div class="btn_container">
                <input type="submit" class="prompt__submit" value="proceed">
                <button type="button" class="prompt__cancel"> Cancel </button>
            </div>
        </form>  
    </div>

    <div class="prompt2">
        <form class="prompt__form2">
          <p class="prompt__text"><p>
            <div class="input-field question-holder">
                <input type="text" class="prompt__input" placeholder="Enter your question"/>
            </div>
            <div class="options-container2">
                <div class="option input-field"><div class="letter plain-text">A</div><div class="option-statement"><input type="text" class="prompt__input" placeholder="Enter the first option"/></div></div>
                <div class="option input-field"><div class="letter plain-text">B</div><div class="option-statement"><input type="text" class="prompt__input" placeholder="Enter the second option"/></div></div>
                <div class="option input-field"><div class="letter plain-text">C</div><div class="option-statement"><input type="text" class="prompt__input" placeholder="Enter the third option"/></div></div>
                <div class="option input-field"><div class="letter plain-text">D</div><div class="option-statement"><input type="text" class="prompt__input" placeholder="Enter the fourth option"/></div></div>
            </div>

          
            <div class="btn_container">
                <input type="submit" class="prompt__submit" value="proceed" />
                <button type="button" class="prompt__cancel2"> Cancel </button>
            </div>
        </form>  
    </div>

    <div class="container">

        <div class="nav-bar-container">
            <a href="#" class="main-title">              
                Ruhat!
            </a>
            <div class="profile-container">
                <div class="profile-icon" data-initials="AA"><button class="edit-profile"><i class="fa-solid fa-edit fa-bold"></i></button></div>
                <ul name="settings" class="dropdown-menu">
                    <a href="#">
                        <li class="drop-down-item">
                            change password
                        </li>
                    </a>
                    <a href="#">
                        <li class="drop-down-item">
                            Change avatar
                        </li>
                    </a>
                    <a href="#">
                        <li class="drop-down-item">
                            FAQ
                        </li>
                    </a>

                    <a href="{{url_for('logout')}}">
                        <li class="drop-down-item">
                            logout
                        </li>
                    </a>
            </ul>
        </div>
        <div class="dropdown-bg"></div>
    </div>
    <div class="home-container">
        <div class="left-side">
            <h3 class="plain-text">Previous quizzes:</h3>
            <div class="quizzes-list">
                {% if quiz_list %}
                {% for quiz in quiz_list %}
                <div class="previous-quiz quiz-1">

                    <div>
                        <a href="/workspace?id={{quiz['id']}}">{{quiz['name']}}</a>
                    </div>
                    <div class="icons-container">
                        <label class="switch">
                            {% if quiz['opened']==1 %}
                            <input type="checkbox" checked>
                            {% else %}
                            <input type="checkbox" >
                            {% endif %}
                            <span class="slider"></span>
                        </label>
                        <button class="delete-quiz icon">
                            <i class="fa fa-trash "></i>
                        </button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
                <div class="add-quiz previous-quiz flex-center">
                    <button class="icon" style="margin-left: auto;">
                        <i class="fa fa-add"></i>
                    </button>
                </div>


            </div>
        </div>
        <div class="right-side">
            {% set current_quiz = request.args.get('id') | get_quiz_from_db %}
            {% set options_letters = ["A","B","C","D"]%}
            <h2 class="quiz_name">{{current_quiz.name}}</h2>

            <div class="questions-list">
                {% for question in current_quiz.questions %}
                <div class="question_1">
                    <div class="question-panel flex-center">
                        <div class="question-statement" contenteditable="true">
                            {{question.question}}
                        </div> 
                        <button class="icon delete-question ">
                            <i class="fa fa-trash"></i> 
                        </button>
                        <button class="icon expand-icon collapsible">
                            <i class="fa fa-angle-down"></i>
                        </button>
                    </div>
                    <div class="options-container">
                        {% for i in range(4)%}
                        {% if question.options[i] == question.answer%}
                        <div class="option"><div class="letter plain-text correct-answer">{{options_letters[i]}}</div><div class="option-statement" contenteditable="true"> {{question.options[i]}}</div></div>
                        {% else %}

                        <div class="option"><div class="letter plain-text">{{options_letters[i]}}</div><div class="option-statement" contenteditable="true">
                        {{question.options[i]}}</div></div>

                        {% endif %}
                        {% endfor %}
                        </div>
                </div>
                {% endfor %}
                <div class="add-question question-panel flex-center">
                    <button class="icon" style="margin-left: auto;">
                        <i class="fa fa-add"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="../static/js/workspace.js"></script>
</body>
</html>